192.168.15.9	pve25-teacher.college.local	pve25-teacher
192.168.15.6	moodle.college.local		moodle
192.168.15.11	gitlab.college.local		gitlab

{{ ansible_facts.vmbr0.ipv4.address }}	{{ ansible_fqdn }}		{{ ansible_hostname }}
